.projectActivities {
    padding: 20px;
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); 
}

.projectHeader {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
}

.seeMoreProjects {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-right: 60px;
}

.projectTableHeaders{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.projectTableContents{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.projectHeaderText {
    font-size: 28px;
    font-weight: 700;
}

.projectNameText,
.organizationText,
.updatedAtText,
.statusText,
.profitsText {
    font-size: 20px;
    font-weight: 700;

}

.profitsText {
    text-align: right;
    margin-right: 60px;
}

.projectName,
.projectOrganization,
.projectProfits,
.projectStatus,
.projectUpdatedDate {
    margin: 20px 0px;
    font-size: 18px;
    font-weight: 400;
}


.projectProfits {
    text-align: right;
    margin-right: 60px;
}
