.headerContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.logoContainer {
    grid-column: 1;
    grid-row: 1;
}
.logoContainer  img{
    grid-column: 1;
    grid-row: 1;
    margin-left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.headerText {
    font-size: 30px;
    font-weight: 700;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    margin-left: 80px;
}

.toggleButtonContainer {
    grid-column: 2;
    width: 120px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-self: center;
}
  
.toggleButtonContainer .leftSection {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 50px 0 0 50px;
    background:#0D313D;
}
.toggleButtonContainer .rightSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-radius: 0 50px 50px 0;
    background: #fff;
}

  .userIcon {
    justify-self: end;
    position: relative;
    margin-right: 10px;
    grid-column: 3;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #0D313D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification {
    background: #FF6666;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
}