.mainContainer {
    background: #fbfcf8;
    font-family: 'Roboto Slab';
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.contentContainer {
    background: #50C878;
    width: 80vh;
    height: 80vh;
    border-radius: 50px;
}